body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(37, 118, 224, 0.671);
    color: #ff0;
}

header, footer {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #ff0;
    color: black;
    border: solid 2px black;
    box-shadow: 0 4px 2px rgb(0, 0, 0);
}
main{
    padding: 20px;
    flex-grow: 1;
    
  
}
.container { 
     display: flex;
     justify-content: center;
     align-items: center; 

}
.logo{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 25px;
}

img { 
    height: 70px;
    border: solid 3px black;
    box-shadow: 0 3px 4px rgb(0, 0, 0);
    border-radius: 50%;
    transition: border 2s ease, box-shadow 2s ease, borde-radius 2s ease;
}

img:hover {
     box-shadow: 0px 1px 1px;
     border-radius: 0px 10px 0px 0px;
     border: solid white;
}
.git {
    height: 35px;
    
}
.in {
    height: 35px;
}
header {
   top: 0;
}

footer {
    bottom: 0;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: right;
    margin: 10px;
    transition: transform 2s ease;
}
nav:hover{
   transform: scale(1.1);
   

}
a {
    background-color: rgb(238, 26, 26);
    color: rgb(255, 255, 243);
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 2px 2px rgb(249, 29, 9);
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
a:hover{
    background-color: #ff0;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.992);

}

.circle1 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
    transition: border-color 2s ease, border-radius 2s ease,
    background-color 1s ease, box-shadow 1s ease;
}
.circle1:hover {
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS65qYFDtLVZa2ySmYoQUOd17nR7Kt2fT-6Iw&s);
    border-color: rgb(252, 253, 248) ;
    box-shadow: 0 7px 10px rgb(231, 3, 3);
    border-radius: 1px 0 1px 0;
}
.circle2 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(3, 3, 2);
    width: 70px;
    height: 70px;
    border-radius: 1px 50px 1px 50px;
    margin: 10px;
    padding: 20px;
    transition: border-color 2s ease, border-radius 2s ease,
    background-color 1s ease, box-shadow 1s ease;
}

.circle2:hover {
    background-color: rgba(194, 94, 36, 0.671);
    border-color: rgb(0, 0, 0);
    box-shadow: 0 7px 10px rgba(145, 15, 206, 0.671);
    border-radius: 1px 0 1px 0;
}

.circle3 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 100px 100px 10px 10px;
    margin: 10px;
    padding: 20px;
    transition: border-color 2s ease, background-color 3s ease,
    border-radius 2s ease, box-shadow 2s ease;
}

.circle3:hover {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ6C8kyegTCLmI_7CGIAOTiYVM8Xd8wU31Uw&s);
    border-color: black;
    border-radius: 1px 0 1px 0;
    box-shadow: 0 7px 10px rgb(223, 173, 11);
    
}

.circle4 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 100px 0px 100px 0px;
    margin: 10px;
    padding: 20px;
    transition: border-color 2s ease, background-color 3s ease,
    border-radius 2s ease, box-shadow 2s ease;
}

.circle4:hover {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ6C8kyegTCLmI_7CGIAOTiYVM8Xd8wU31Uw&s);
    border-color: black;
    border-radius: 25px 0 25px 0;
    box-shadow: 0 7px 10px rgb(223, 173, 11);
    
}

.circle5 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 10px 10px;
    transition: transform 1s ease;
}

.circle5:hover {
   transform: scale(1.3);
}


.circle6 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    padding: 20px;
    transition: transform 1s ease;
}

.circle6:hover {
   background-image: linear-gradient(45deg, rgba(0,100,50,0.7), black);
}

.circle7 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
    transition: transform 2s ease;
}

.circle7:hover {
  transform: translateY(-10px);
  transform: translateX(-200px);
}

.circle8 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    border-top: 100px solid red;     
    transition: transform 2s ease;
}

.circle8:hover {
transform: rotate(100deg);
  
}

.circle9 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
    transition: transform 2s ease;
}

.circle9:hover {
 transform: rotate3d(2, 2, 2, 100deg);
}

.circle10 {
    background-color: rgba(37, 118, 224, 0.6);
    border: solid 2px rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 35px 35px 35px 35px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px black;
    transition: transform 2s ease;
}

.circle10:hover {
transform: translate3d(50px, -20px, 100px);
}


